/*========== Reset styles ===========*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*============== Global styles ===============*/

.clear-both{
    clear:both;
    font-size:0em;
    line-height: 0em; 
}

.hide{
    display:none;
}

/* Info popups */
#flash-mssg-container{
    margin:0px auto;
    text-align:left;
    width:200px;
    padding:0px;
}

body{

}

/*============== OVERRIDING JQUERYMOBILE============*/

.ui-state-highlight p{
    margin:0px;
    font-size:16px;
}

.ui-state-highlight{
    margin-top: 10px; 
    padding: 10px;
    float:left;
    background-color:#22B98F;
    color:white;
    width:200px;
}

.ui-icon{
    float: left; 
    margin-right: 10px;
}
    
ul.errors{
    list-style-type: none;
}

ul.errors{
    margin:0px;
    margin-top:40px;
    border-style: solid;
    border-width: 3px;
    border-color: #e25150;
    background-color: #f77573;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding:7px; 
    color:#fff;
    margin-bottom:10px;
}

.ui-btn-icon-notext {
    width: 40px !important;
    height: 30px !important;
}

.ui-radio{
    width:100% !important;
}

.ui-btn-icon-notext .ui-btn-inner {
    padding: 5px 5px 2px 11px !important;
}

.ui-body-c, .ui-dialog.ui-overlay-c{
    text-shadow:none !important;
}

#page-wrapper{
    height:100%;
}

#content{
    height:87%;
}


#content #center-container{
    margin:0px auto;
    text-align:left;
    width:375px;
    padding:0px;
}

#content #center-container.login{
    width:285px;
}

/*================ Header ===============*/
#header #nav-wrapper{
    float:left;
    margin-left:10px;
    margin-top:10px;
}


#header #nav-wrapper a {
    margin-bottom:10px;
}

/*=============== Headings ==============*/
h1{
    font-size:20px !important;
}

h1 a{
   text-decoration: none;
   outline:none;
   font-size:20px;
}


h2{
    color:#a5eeda;
}


/*================ Styles for the system tables=========*/
table.generic{
    width:100%;
}

table.generic tr.odd{
    background-color:#fff; 
}

table.generic tr{
    background-color:#d0f6ec;
}

table.generic th{
    background-color:#22b98f;
    color:#fff;
    padding:10px;
    text-align: left;
}

table.generic td{
    padding:10px 10px;
    white-space: normal;
    word-break: break-all;
    color:#000;
    
}

table.generic td.center{
    padding-left:1.4em;
}

table.generic td a{
    margin:-5px !important;
}

/*==================== Form styes ====================*/

form{
    float:left;
    display:block;
}

form.login{
    width:265px;
}

form div.item-wrapper{
    float:left;
    display:block;
    width:100%;
    margin-bottom: 15px;
}

form dl{
    display:block;
    float:left;
}

form dl dd{
    display:block;
    margin:0px;
    float:left;
}

form dl dt{
    display:block;
    float:left;
    margin:0px;
    width:170px;
}

form input{
    background-color:#fff!important;
    float:left;
    font-size: 16px;
    padding-left:10px;
    border: none;
    color:#000 !important;
}

form input.submit{
    background:none !important;
}

form textarea{
    background-color:#fff!important;
    float:left;
    font-size: 16px;
    padding-left:10px;
    border: none;
    color:#000 !important;
}

form input:focus{
    background-color:#fff;
    color:#000;
}

form label{
    float:left;
    padding-top:7px;
    margin-right:10px;
    color: #eee;
    height:30px;
}

form select{
    border: none;
    float:left;
    font-size: 16px;
    padding-left:10px;
    height:30px;
    color: #f990d2;
    width:150px;
}

/*=== Content assignment form styles ==============*/

form#conentAssignment{
    width:100%;
}

form#conentAssignment dd{
    width:100%;
}

form#conentAssignment dl{
    width:100%;
}

form#conentAssignment label{
    width:100%;
}

/* ================= Styles for the pages on the index page ================*/
ul#pages{
    list-style-type: none;
    margin:0px;
    padding:0px;
    margin-top:10px;
    width:350px;
    display:block;
    float:left;
}

ul#pages li.page-item{
    margin-bottom:10px;
    color:#000;
    display:block;
    float:left;
    
}

ul#pages li.page-item span.item-wrapper{
     background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width:300px;
    display:block;
    float:left;
}

ul#pages li.page-item h4{
    margin-top:10px;
    margin-bottom:10px;
    margin-left:10px;
    float:left;
}

ul#pages li ul{
    list-style-type:none;
    margin:0px;
    padding:0px;
    margin-left:10px;
    margin-bottom:10px;
    float:left;
}

ul#pages li ul li{
    display:block;
    float:left;
    margin:0px;
    margin-right:5px;
    margin-bottom:5px;
}

ul#pages .page-level-controlls{
    display:block;
    float:left;
    margin-left:10px;
    margin-top:10px;
}

ul#pages a.outdent{
    color:#000;
}

ul#pages a.indent{
    color:#000;
}

ul#pages li ul li a.content-button{
    color:#000;
    padding:10px;
    background-color:#eee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
    color:#000;
    float:left;
    display:block;
}

ul#pages li ul li a.active{
    background-color:#22B98F;
    color:#fff;
}


ul#pages ul.sortable{
    margin-top:0px;
    margin-bottom:0px;
}

ul#pages ul.sortable li{
    margin-top:10px;
    margin-bottom:0px;
}

